body {
  font-family: "Montserrat"
}

#title {
  background-color: #ff4c68;
  color: #fff;
}

h1 {
  font-family: 'Montserrat-Black';
  font-size: 1%;
  line-height: 1.5;
}

h2 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 15%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  padding-bottom: 4.5rem;
}

.nav-item {
  padding: 0 18px;
}

.navbar-nav{
  margin-bottom: 65px;
  margin-left: 420px;
}

h1 {
  font-family: "Ubuntu";
  font-size: 3.5rem;
  font-weight: bolder;
}

h3 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light"
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* Tranform and rotate() */

.title-image {
  width: 60%;
  transform: rotate(25deg);
}

/* Features Section */

#features {
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding: 5%;
}

.custom-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.custom-icon:hover {
  color: #ff4c68
}

#testimonials {
  padding: 7% 15%;
  text-align: center;
  background-color: #ef8172;
  color: #fff;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

#press {
  background-color: #ef8172;
  padding: 3%;
}

.press-logo {
  width: 15%;
  margin: 50px 50px;
}
