body {
  font-family: "Montserrat";
  text-align: center !important;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat-Bold";
}

p {
  color: #8f8f8f;
}

/* SECTIONS */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}

/* # HEADING */

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}

/* Container-Fluid Inside title */
#title .container-fluid {
  text-align: left;
  padding: 3% 15% 7%;
}

.title-heading {
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
}

.navbar-brand {
  font-size: 3rem;
  font-weight: bolder;
}

.nav-item {
  padding: 0 18px;
}

.navbar-nav{
  margin-bottom: 65px;
  margin-left: 420px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat-Light"
}

.download-button {
  margin: 5% 3% 5% 0;
}

/* Tranform and rotate() */

.title-image {
  width: 60%;
  transform: rotate(25deg);
  position: absolute;
  right: 30%;
  margin-top: 40px;
}

.title-content {
  margin-top: 70px;
}

/* Features Section */

#features {
  padding: 7% 15%;
  position: relative;
}

.feature-box {
  padding: 5%;
}

.feature-heading {
  font-size: 1.5rem;
}

.custom-icon {
  color: #ef8172;
  margin-bottom: 1rem;
}

.custom-icon:hover {
  color: #ff4c68
}

/* # Testimonial */

#testimonials {
  background-color: #ef8172;
}

.testimonial-text {
  font-size: 3rem;
  line-height: 1.5;
}

.testimonial-image {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}

.testimonial-text {
  font-weight: bolder;
  margin: auto 50px;
  line-height: 1.5;
}

.carousel-item {
  padding: 7% 15%;
}

#press {
  background-color: #ef8172;
  padding: 3%;
}

.press-logo {
  width: 15%;
  margin: 50px 50px;
}

/* # Pricing */

#pricing {
  padding: 100px;
}

.price-text {
  font-size: 3rem;
  line-height: 1.5;
}

.pricing-column {
  padding: 3% 2%;
}

@media (max-width: 1028px) {
  #title {
    text-align: center;
  }

  .title-image {
    position: static;
    transform: rotate(0);
  }
}

/* #CTA Section */

#cta {
  padding: 10%;
  margin: 2% auto;
}

/* # FOoter */

.big-heading{
  font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: bolder;
  color: #fff;
}

#footer {
  padding: 5%;
}

.custom-icons-foot {
  margin-bottom: 1%;
}
